@charset "UTF-8";

.wish{
    list-style: none;
}
.wish li {
    display:inline;
}
.wish-hover-red:hover{
	color:#fff!important;
	background-color:#f44336!important
}
.wish-hover-blue:hover{
	color:#fff!important;
	background-color:#f44336!important
}