{% extends "bandongo/backend_base.html" %}
{% load staticfiles%}
{% block js %}<script src="{% static 'js/backend_editMember.js' %}"></script>{% endblock %}
{% block content %}
<div class="container">
    <div><h1>Edit Member</h1></div>
    <div><h3>id</h3></div>
    <div id="id">{{ member.id }}</div>
    <div><h3>Name</h3></div>
    <div>
        <input type="text" class="form-control" style="width: 20%;" id="name" value="{{ member.name }}">
    </div>
    <div><h3>Phone</h3></div>
    <div>
        <input type="text" class="form-control" style="width: 20%;" id="phone" value="{{ member.phone }}">
    </div>
    <div><h3>Email</h3></div>
    <div>
        <input type="text" class="form-control" style="width: 20%;" id="email" value="{{ member.email }}">
    </div>
    <div><h3>Department</h3></div>
    <div>
        <select id="category" style="width: 20%;" class="selectpicker">
            {% for category in categories %}
                {% if category == member.remark %}
                    <option value="{{category.id}}" selected>{{category.name}}</option>
                {% else %}
                    <option value="{{category.id}}">{{category.name}}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
    <div><h3>Set Admin</h3></div>
    {% if member.auth == "admin" %}
        <div class="checkbox">
            <label><input id="admin" type="checkbox" checked>admin</label>
        </div>
    {% else %}
        <div class="checkbox">
            <label><input id="admin" type="checkbox">admin</label>
        </div>
    {% endif%}
    
    <div style="margin-top: 20px">
        <button class="btn btn-default" onclick="submit();">Submit</button>
        <button class="btn btn-default" onclick="deleteMem();">Delete</button>
    </div>
</div>
{% endblock %}