{% extends "bandongo/backend_base.html" %}
{% load staticfiles%}
{% block js %}{% endblock %}
{% block content %}
<div class="container">
    <div><h1>Member List</h1></div>
    <table class="table">
        <thead>
            <tr>
                <th>Department</th>
                <th>id</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Auth</th>
                <th>Savings</th>
            </tr>
        </thead>
        <tbody>
            {% for member in members %}
            <tr>
                <td>{{ member.remark }}</td>
                <td><a href="/backend/member/{{ member.id }}">{{ member.name }}</a></td>
                <td>{{ member.id }}</td>
                <td>{{ member.phone }}</td>
                <td>{{ member.email }}</td>
                <td>{{ member.auth }}</td>
                {% if member.saving > 0 %}
                    <td>{{ member.saving }}</td>
                {% elif member.saving == 0 %}
                    <td><p style="color:orange;">{{ member.saving }}</p></td>
                {% else %}
                    <td><p style="color:red;"><b>{{ member.saving }}</b></p></td>
                 {% endif %}
            </tr>
            {% endfor %}
        </tbody>
        </tr>
    </table>
</div>
{% endblock %}