{% extends "bandongo/backend_base.html" %}
{% load staticfiles%}
{% block js %}{% endblock %}
{% block content %}
<div class="container">
    <div><h1>Food Wishes</h1></div>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
            {% for food in foods %}
            <tr>
                <td>{{ food.food__name }}</td>
                <td>{{ food.num }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div><h1>Drink Wishes</h1></div>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
            {% for drink in drinks %}
            <tr>
                <td>{{ drink.drink__name }}</td>
                <td>{{ drink.num }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}