{% extends "bandongo/backend_base.html" %}
{% load staticfiles%}
{% block js %}<script src="{% static 'js/backend_editSchedule.js' %}"></script>{% endblock %}
{% block content %}
<div class="container">
    {% if nonFinish == 1 %}
    <div><h1>Edit Schedule</h1></div>
        <table class="table">
            <thead>
                <tr>
                    <th>pk</th>
                    <th>name</th>
                    <th>Shop</th>
                    <th>Drink</th>
                    <th>Due Date Time</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="pk">{{ pk }}</td>
                    <td id="name"><input type="text" class="form-control" id="schedule_name" value="{{ name }}"></td>
                    <td>
                        <select id="bandon" class="form-control">
                            {% for shop in shops %}
                                <option value="{{shop.name}}" {{shop.selected}}>{{shop.name}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select id="drink" class="form-control">
                            {% for drink in drinks %}
                                <option value="{{drink.name}}" {{drink.selected}}>{{drink.name}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <input type="datetime-local" class="form-control" style="width: 60%;" id="dueDatetime" value="{{ datetime }}">
                    </td>
                </tr>
            </tbody>
        </table>
        <div style="margin-top: 20px">
            <button class="btn btn-default" onclick="submit();">Submit</button>
        </div>
    {% else %}
        <div><h1>No non-finished schedule.</h1></div>
    {% endif %}
</div>
{% endblock %}