{% extends "bandongo/backend_base.html" %}
{% load staticfiles%}
{% block js %}
<script src="{% static 'js/backend_setSchedule.js' %}"></script>
{% endblock %}
{% block css %}
{% endblock %}
{% block content %}
<div class="container">
    <div><h1>Set Schedule</h1></div>
    <div><h3>Schedule Name</h3></div>
    <div>
        <input type="text" class="form-control" style="width: 20%;" id="schedule_name">
    </div>
    <div><h3>Bandon</h3></div>
    <div>
        <!--choose shop-->
        <select class="selectpicker" id="bandon" style="width: 20%;">
            {% for shop in shops %}
                <option value="{{forloop.counter0}}">{{shop.name}}</option>
            {% endfor %}
        </select>
        <select class="selectpicker" id="catalog" multiple>
            {% for catalog in catalogs %}
                <option value="{{catalog.id}}">{{catalog.name}}</option>
            {% endfor %}
        </select>
    </div>
    <div><h3>Drink</h3></div>
    <div>
        <!--choose shop-->
        <select id="drink" style="width: 20%;" class="selectpicker">
            {% for drink in drinks %}
                <option value="{{drink.id}}">{{drink.name}}</option>
            {% endfor %}
        </select>
    </div>
    <div><h3>Due Date Time</h3></div>
    <!--set due time-->
    <div>
        <input type="datetime-local" class="form-control" style="width: 25%;" id="dueDatetime">
    </div>
    <div style="margin-top: 20px">
        <button id="submit" class="btn btn-default" onclick="submit();">Submit</button>
    </div>
</div>
{% endblock %}