{% extends "bandongo/backend_base.html" %}
{% load staticfiles%}
{% block js %}{% endblock %}
{% block content %}
<div class="container">
    <div><h1>Member List</h1></div>
    <table class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Department</th>
                <th>Auth</th>
                <th>Savings</th>
            </tr>
        </thead>
        <tbody>
            {% for member in members %}
            <tr>
                <td>{{ member.id }}</td>
                <td><a href="/backend/member/{{ member.id }}">{{ member.name }}</a></td>
                <td>{{ member.phone }}</td>
                <td>{{ member.email }}</td>
                <td>{{ member.remark }}</td>
                <td>{{ member.auth }}</td>
                <td>{{ member.saving }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}