{% extends "bandongo/backend_base.html" %}
{% load staticfiles%}
{% block js %}{% endblock %}
{% block content %}
<div class="container">
    <div><h1>Schedule List</h1></div>
        <table class="table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>Shop</th>
                    <th>Food</th>
                    <th>Drink</th>
                    <th>Due Date Time</th>
                    <th>Expired</th>
                    <th>Finished</th>
                </tr>
            </thead>
            <tbody>
                {% for schedule in schedules %}
                <tr>
                    <td>{{ schedule.id }}</td>
                    <td><a href="/backend/schedule/{{ schedule.id }}/">{{ schedule.name }}</a></td>
                    <td>{{ schedule.food.name }}</td>
                    <td>
                        {% for catalog in schedule.catalogs.all %}
                        {{ catalog.name }}
                        {% endfor %}
                    </td>
                    <td>{{ schedule.drink.name }}</td>
                    <td>{{ schedule.date }}</td>
                    <td>{{ schedule.expire }}</td>
                    <td>{{ schedule.finish }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</div>
{% endblock %}