{% extends "bandongo/backend_base.html" %}
{% load staticfiles%}
{% block js %}{% endblock %}
{% block content %}
<div class="container">
    <div><h1>Drink Shop List</h1></div>
        <table class="table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Name</th>
                    <th>Picture</th>
                    <th>Telephone</th>
                    <th>Address</th>
                    <th>Remark</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for shop in shops %}
                <tr id="{{ shop.id }}">
                    <td>{{ shop.id }}</td>
                    <td><a href="/backend/drinkShop/{{ shop.id }}">{{ shop.name }}</a></td>
                    <td>
                        {% if shop.pic %}
                        <img src="/{{ shop.pic }}" class="img-responsive"  width="240" height="240">
                        {% endif %}
                    </td>
                    <td>{{ shop.telephone }}</td>
                    <td>{{ shop.address }}</td>
                    <td>{{ shop.remark }}</td>
                    <td>
                    <span class="glyphicon glyphicon-remove" style="cursor: pointer;" aria-hidden="true" onclick="
                        $.post(
                            '/backend/deleteDrinkShop',
                            {id: {{shop.id}} },
                            function(response) {
                              alert(response);
                              $('#{{shop.id}}').remove();
                            }
                        );">
                    </span>
                </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</div>
{% endblock %}