{% extends "bandongo/backend_base.html" %}
{% load staticfiles%}
{% block js %}<script src="{% static 'js/backend_order.js' %}"></script>{% endblock %}
{% block content %}
<div class="container">
	{% if schedule %}
    <div><h1>Schedule</h1></div>
        <table class="table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>Shop</th>
                    <th>Shop Phone</th>
                    <th>Drink</th>
                    <th>Drink Phone</th>
                    <th>Due Date Time</th>
                    <th>Expired</th>
                    <th>Arrived</th>
                    <th>Finished</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="id">{{ schedule.id }}</td>
                    <td>{{ schedule.name }}</td>
                    <td>{{ schedule.food.name }}</td>
                    <td>{{ schedule.food.telephone }}</td>
                    <td>{{ schedule.drink.name }}</td>
                    <td>{{ schedule.drink.telephone }}</td>
                    <td>{{ schedule.date }}</td>
                    <td>{{ schedule.expire }}</td>
                    <td>{{ schedule.arrived }}</td>
                    <td>{{ schedule.finish }}</td>
                </tr>
            </tbody>
        </table>
    	<div><h1>Bandon Orders Type 1</h1></div>
        <table class="table">
            <thead>
                <tr>
                    <th>Food</th>
                    <th>Count</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
            {% for bag in foodBags %}
            <tr><td colspan="3">Bag {{ forloop.counter }}</td></tr>
            	{% for order in bag %}
                <tr>
                	<td>{{ order.foodName }}</td>
                    <td>{{ order.count }}</td>
                    <td>{{ order.price }}</td>
                </tr>
                {% endfor %}
            {% endfor %}
            <tr>
                <td colspan="2">total price</td>
                <td>{{ foodTotalPrice }}</td>
            </tr>
            </tbody>
        </table>
        <div><h1>Bandon Orders Type 2</h1></div>
        <table class="table">
            <thead>
                <tr>
                    <th>Food</th>
                    <th>Count</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
        	{% for order in foodOrders %}
            <tr>
            	<td>{{ order.foodName }}</td>
                <td>{{ order.count }}</td>
                <td>{{ order.price }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="2">total price</td>
                <td>{{ foodTotalPrice }}</td>
            </tr>
            </tbody>
        </table>
        <div><h1>Drink Orders</h1></div>
        <table class="table">
            <thead>
                <tr>
                    <th>Drink</th>
                    <th>Sugar and Ice</th>
                    <th>Count</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
            {% for bag in drinkBags %}
            <tr><td colspan="3">Bag {{ forloop.counter }}</td></tr>
                {% for order in bag %}
                <tr>
                    <td>{{ order.drinking }}</td>
                    <td>{{ order.remark }}</td>
                    <td>{{ order.count }}</td>
                    <td>{{ order.price }}</td>
                </tr>
                {% endfor %}
            {% endfor %}
            <tr>
                <td colspan="3">total price</td>
                <td>{{ drinkTotalPrice }}</td>
            </tr>
            </tbody>
        </table>
    	<div style="margin-top: 20px">
            {% if schedule.arrived %}
        	   <button class="btn btn-default" onclick="finish();">Finish</button>
            {% endif %}
            {% if not schedule.arrived %}
                <button class="btn btn-default" onclick="arrive();">Arrive</button>
            {% endif %}
    	</div>
    {% else %}
    	<div><h1>No non-finished schedule.</h1></div>
    {% endif %}
</div>
{% endblock %}