{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Backend</title>
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-select.min.css' %}">
        <script src="{% static 'js/jquery/jquery-3.1.1.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap-select.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap-filestyle.min.js' %}"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block js %}{% endblock %}
        {% block css %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="/backend/scheduleListPage">Bandongo Backend</a>
            </div>
            {% if request.user.is_authenticated %}
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Schedule
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/backend/setSchedulePage">Set Schedule</a></li>
                  <li><a href="/backend/editSchedulePage">Edit Schedule</a></li>
                  <li><a href="/backend/scheduleListPage">Schedule List</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Member
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/backend/addMemberPage">Add Member</a></li>
                  <li><a href="/backend/memberListPage">Member List</a></li>
                  <li><a href="/backend/addValuePage">Add value</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Departments
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Add department</a></li>
                  <li><a href="#">Department List</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Food Shop
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Add shop</a></li>
                  <li><a href="#">Shop List</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Catalog
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/backend/addCatalogPage">Add catalog</a></li>
                  <li><a href="/backend/catalogListPage">Catalog List</a></li>
                </ul>
              </li>
              <li><a href="/backend/homePicPage">Home Pic</a></li>
              <li><a href="/backend/order">Order</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/backend/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
            {% else %}
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/backend/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
            {% endif %}
          </div>
        </nav>
        {% block content %}
        
        
        {% endblock %}
        
    </body>
</html>