{% extends "bandongo/backend_base.html" %}
{% load staticfiles%}
{% block js %}<script src="{% static 'js/backend_order.js' %}"></script>{% endblock %}
{% block content %}
<div class="container">
	{% if schedule %}
    <div><h1>Schedule</h1></div>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Shop</th>
                    <th>Drink</th>
                    <th>Due Date Time</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ schedule.name }}</td>
                    <td>{{ schedule.food.name }}</td>
                    <td>{{ schedule.drink.name }}</td>
                    <td>{{ schedule.date }}</td>
                </tr>
            </tbody>
        </table>
    	<div><h1>Bandon Orders</h1></div>
        <table class="table">
            <thead>
                <tr>
                    <th>Department</th>
                    <th>Name</th>
                    <th>Food</th>
                    <th>Count</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
            {% for bag in foodBags %}
            <tr><td style="background-color:#D3D3D3 !important;" colspan="3">Bag {{ forloop.counter }}</td><td style="background-color:#D3D3D3 !important;" colspan="2">{{ bag.num }}</td></tr>
            	{% for order in bag.orders %}
                <tr>
                    <td>{{ order.memberName.remark.name }}</td>
                    <td>{{ order.memberName.name }}</td>
                	<td>{{ order.foodName.name }}</td>
                    <td>{{ order.num }}</td>
                    <td>{{ order.price }}</td>
                </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
            <tr>
                <td colspan="4"><b>Total Price</b></td>
                <td><b>{{ foodTotalPrice }}</b></td>
            </tr>
        </table>
        <div><h1>Drink Orders</h1></div>
        <table class="table">
            <thead>
                <tr>
                    <th>Department</th>
                    <th>Name</th>
                    <th>Drink</th>
                    <th>Sugar and Ice</th>
                    <th>Count</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
            {% for bag in drinkBags %}
            <tr><td style="background-color:#D3D3D3 !important;" colspan="4">Bag {{ forloop.counter }} Total count: {{ bag.num }}</td><td style="background-color:#D3D3D3 !important;" colspan="2">{{ bag.num }}</td></tr>
                {% for order in bag.orders %}
                <tr>
                    <td>{{ order.memberName.remark.name }}</td>
                    <td>{{ order.memberName.name }}</td>
                    <td>{{ order.drinking }}</td>
                    <td>{{ order.remark }}</td>
                    <td>{{ order.num }}</td>
                    <td>{{ order.price }}</td>
                </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
            <tr>
                <td colspan="5"><b>Total Price</b></td>
                <td><b>{{ drinkTotalPrice }}</b></td>
            </tr>
        </table>
    {% else %}
    	<div><h1>No this schedule.</h1></div>
    {% endif %}
</div>
{% endblock %}