{% extends "bandongo/backend_base.html" %}
{% load staticfiles%}
{% block js %}
<script>function changeImage(pic) {
    $("#modal-body").html('<img src="/'+pic+'" class="img-responsive">')
}
</script>
{% endblock %}
{% block content %}
<div class="container">
    <div><h1>Catalog List</h1></div>
    <table class="table">
        <thead>
            <tr>
                <th>Shop</th>
                <th>id</th>
                <th>Name</th>
                <th>Picture</th>
                <th>Price</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for catalog in catalogs %}
            <tr id="{{ catalog.id }}">
                <td>{{ catalog.foodShop.name }}</td>
                <td>{{ catalog.id }}</td>
                <td><a href="/backend/catalog/{{ catalog.id }}">{{ catalog.name }}</a></td>
                <td>
                    {% if catalog.pic %}
                    <a style="cursor: pointer;" data-toggle="modal" data-target="#imageModal" onclick="changeImage('{{ catalog.pic }}')">
                      Display Image
                    </a>
                    {% endif %}
                </td>
                <td>{{ catalog.price }}</td>
                <td>
                    <span class="glyphicon glyphicon-remove" aria-hidden="true" onclick="
                        $.post(
                            '/backend/deleteCatalog',
                            {id: {{catalog.id}} },
                            function(response) {
                              alert(response);
                              $('#{{catalog.id}}').remove();
                            }
                        );">
                    </span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- Modal -->
    <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Image</h4>
          </div>
          <div class="modal-body" id="modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}