<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
    <link rel="icon" href="{%static 'icon/lunch-icon-23.png' %}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>新竹地檢署訂餐系統</title>

    <!-- Bootstrap Core CSS -->
    
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
   
   

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    
    <!-- jQuery -->
    <script src="{% static 'js/jquery/jquery-3.1.1.min.js' %}"></script>
    
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootbox.min.js' %}"></script>
    <!-- Menu Toggle Script -->
    
    
    {% block script %}
    {% endblock %}
</head>

<body>
    
    <div class="">
        <nav class="navbar navbar-default">
            <div class="container">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                
                <a class="navbar-brand" href="/">新竹地檢署訂餐系統</a>
              <!-- Collect the nav links, forms, and other content for toggling -->
              
            </div>
            <!-- /.container-fluid -->
         </nav>
    </div>
    {% if homePicPath %}
    <div class="container">
      <img src="{{homePicPath}}" class="img-responsive"  width="300" height="360" style="margin-bottom: 10px;"> 
    </div>
    <!--<p>{{homePicPath}}</p>-->
    {% endif %}
    <div id="wrapper">

        

        <!-- Page Content -->
        <!--<div id="page-content-wrapper">-->
        <!--    <div class="container-fluid">-->
        <!--        <div class="row">-->
        <!--            <div class="col-lg-12">-->
                        
                        
                        {% block content %}
            
            
                        {% endblock%}
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    
    

</body>
<footer style="margin-top: 60px; padding-top: 10px; padding-bottom:10px; background-color:#383838; color: #f5f5f5; text-align: center;">&copy; Copyrights 2017</footer>
</html>
