{% extends 'bandongo/frontend_base.html' %}
{% load staticfiles %}

 {% block script %}
 <!-- Latest compiled and minified CSS -->




    <link rel="stylesheet" href="{%static 'bootstrap/css/bootstrap-select.min.css' %}">
    <style>
    #clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
    }
    
    #clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;
    }
    
    #clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #00816A;
    display: inline-block;
    }
    
    .smalltext{
    padding-top: 5px;
    font-size: 16px;
    }
    </style>
  <!--<script src="{% static 'front_bootstrap/js/jquery.min.js' %}"></script>-->
  <!--<script src="{% static 'front_bootstrap/js/3.3.4/bootstrap.min.js' %}"></script>-->
    <script src="{% static 'bootstrap/js/bootstrap-select.min.js' %}"></script>
    <script>
        function orderForm() {
            var foodlen = document.forms["orderform"]["food-len"].value;
            var lock = 0;
            
            
            var drinkname = document.forms["orderform"]["drink-name"].value;
            var strindex;
            var foodnum;
            
            for (var i = 1; i <= foodlen; i++) {
                strindex = i.toString();
                foodnum = document.forms["orderform"]["food-num"+strindex].value;
               
                if(foodnum != "0"){
                    lock = 1;
                }
            }
            
            if (drinkname == "" && lock == 0) {
                bootbox.alert("請選擇餐點");
                return false;
            }
        }
    </script>
{% endblock %}

{% block article %}


{% endblock %}
{% block subcontent %}
    
    
    
    {% if finish_order %}
        <h1>訂餐完成！</h1>
    
    {% elif schedule_name %}
        
<!--<div id="clockdiv">-->
<!--<div>-->
<!--<span>{% if due_date %}-->
<!--{{due_date}}-->
<!--{% endif %}</span>-->
<!--<div class="smalltext">截止時間-->
<!--</div>-->
<!--</div>-->
<!--<div>-->
<!--<span class="hours"></span>-->
<!--<div class="smalltext">Hours</div>-->
<!--</div>-->
<!--<div>-->
<!--<span class="minutes"></span>-->
<!--<div class="smalltext">Minutes</div>-->
<!--</div>-->
<!--<div>-->
<!--<span class="seconds"></span>-->
<!--<div class="smalltext">Seconds</div>-->
<!--</div>-->
<!--</div>-->
        {%if due_date %}
            <h2>截止時間:{{due_date | date:'m/d H:i'}}</h2>
        {% endif %}
           
        <form name="orderform" onsubmit="return orderForm()" action="" method="POST" class="post-form" accept-charset="utf-8">
            {% if list_food.0.foodShop != "休" %}
                <table class="col-xs-12">
                
                <tr>
                    <th colspan="1">{{schedule_name}}</th>
                    <th colspan="1">{{list_food.0.foodShop}}</th>
                    <th colspan="1">價格</th>
                    <th colspan="1">數量</th>
                    
                </tr>
                <input type="hidden" name="food-len" value="{{ list_food|length }}"/>
                <input type="hidden" name="schedule" value="{{schedule_name}}"/>
                {% for foods in list_food %}
                    <tr>
                        <td><input type="hidden" name="food-name{{ forloop.counter }}" value="{{ foods.name }}"/>{{foods.name}}</td>
                        <td>
                        <!--<div class="container">-->
                        {% if foods.pic %}
                          <img src="/{{foods.pic}}" class="img-responsive img-circle col-xs-12"  width="400" height="200"> 
                        <!--</div>-->
                        {% else %}
                          <p>暫時沒圖</p>
                        {% endif%}
                        </td>
                        <td>{{foods.price}}</td>
                        <td>
                            <select name="food-num{{ forloop.counter }}" class ="selectpicker show-tick form-control"/>
                            <option value="0">0</option>
                            <option value="1">1</option>
                          	<option value="2">2</option>
                          	<option value="3">3</option>
                          	<option value="4">4</option>
                            <option value="5">5</option>
                          	</select>
                        </td>
                        
                    </tr>
                    
                {% endfor %}
                
                </table>
            {% endif %}
        
            {% if pic_beverage.0.name != "休" %}
            <table class="col-xs-12">
            <tr>
                <th colspan="1">{{schedule_name}}</th>
                <th colspan="3">{{pic_beverage.0.name}}</th>
            </tr>
            <tr>
                <th colspan="4">
                <div class="container">
                  <img src="/{{pic_beverage.0.pic}}" class="img-responsive col-xs-12" width="500" height="360"> 
                </div>
                
                <!--<div class="col-xs-12">-->
                <!--<img src="{{pic_beverage.0.pic}}" class="img-fluid" alt="RRR">-->
                
                
                <!--</div>  -->
                </th>
            </tr>
            <tr>
                <td>喝什麼</td>
                <td colspan="3">
        	        <input type="text" name="drink-name"/>
                </td>
            </tr>
            
            <tr>
                <div class="container">
      	        <td>甜度冰塊</td>
      	        
      	        
                <!--<th colspan="1">-->
                <td>
                
                  <select name="sugar" class="selectpicker show-tick form-control" data-width="auto"/>
                  <option value="無糖">無糖</option>
                  <option value="微糖">微糖</option>
                  <option value="半糖">半糖</option>
                  <option value="少糖">少糖</option>
                  <option value="正常甜">正常甜</option>
                  </select>
                
                  <select name="ice" class="selectpicker show-tick form-control" data-width="auto"/>
                  <option value="去冰">去冰</option>
                  <option value="少冰">少冰</option>
                  <option value="微冰">微冰</option>
                  <option value="常溫">常溫</option>
                  <option value="正常冰">正常冰</option>
                  <option value="熱的">熱的</option>
                  </select>
                </td>
                </div>
                <!--</th>-->
                
            </tr>
            <tr>
      	        <td>備註</td>
                <th colspan="3">
                   <input type="text" name="drink-comment"/>
                </th>
            </tr>
            <tr>
      	        <td>價格</td>
                <th colspan="3">
        	        <input type="number" name="drink-price" min="0" max="100"/>
                </th>
            </tr>
            
            
            </table>
            {% else %}
                <input type="hidden" name="drink-name" value=""/>
            {% endif %}
            
            <table style="width:100%">
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <button type="submit" class="save btn btn-default">送出</button>
                </td>
            </tr>
            </table>
        </form>
    {% else %}
        <h2>統計截止，不便之處請見諒</h2>
    {% endif %}
    



{% endblock %}

{% block script2 %}
<script>
function getTimeRemaining(endtime) {
  var t = Date.parse(endtime) - Date.parse(new Date());
  var seconds = Math.floor((t / 1000) % 60);
  var minutes = Math.floor((t / 1000 / 60) % 60);
  var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
//   var days = Math.floor(t / (1000 * 60 * 60 * 24));
  return {
    'total': t,
    // 'days': days,
    'hours': hours,
    'minutes': minutes,
    'seconds': seconds
  };
}

function initializeClock(id, endtime) {
  var clock = document.getElementById(id);
//   var daysSpan = clock.querySelector('.days');
  var hoursSpan = clock.querySelector('.hours');
  var minutesSpan = clock.querySelector('.minutes');
  var secondsSpan = clock.querySelector('.seconds');

  function updateClock() {
    var t = getTimeRemaining(endtime);

    // daysSpan.innerHTML = t.days;
    hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
    minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
    secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

    if (t.total <= 0) {
      clearInterval(timeinterval);
    }
  }

  updateClock();
  var timeinterval = setInterval(updateClock, 1000);
}

// var deadline = new Date(Date.parse(new Date()) + 15 * 24 * 60 * 60 * 1000);
var duedate = "{{ due_date }}";

initializeClock('clockdiv', duedate);
</script>






{% endblock %}