{% extends 'bandongo/frontend_base.html' %}

{% block subcontent %}
   
    <h2>存款紀錄</h2>
    {% if savelogs %}
    
    
    <table style="width:100%">
      <tr>
        <th>存款日期</th>
        <th>收款人</th>
        <th>金額</th>
        <th>備註</th>
        
      </tr>
    {% for savings in savelogs %}
      <tr>
        <td>{{savings.tranDate|date:'Y-m-d H:i' }}</td>
        <td>{{savings.adminName}}</td>
        <td>{{savings.money}}</td>
        <td>{{savings.comment}}</td>
        
      </tr>
    {% endfor %}
       <tr>
         <th></th>
         <th>總存款</th>
         <th>
             {{save_total}}
         </th>
     </table>
    {% else %}
    
    <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp你沒存錢, 快點存</p>
    {% endif %}
    <h2>消費紀錄</h2>
    <table style="width:100%">
    {% if foods_logs %}
    
    
    
      <tr>
        <th></th>
        <!--<th>日期</th>-->
        <th>品項</th>
        <th>數量</th>
        <th>金額</th>
        <th>備註</th>
        
      </tr>
    {% for foods in foods_logs %}
      <tr>
        <td>{{foods.scheduleName}}</td>
        <!--<td>{{foods.date}}</td>-->
        <td>{{foods.foodName}}</td>
        <td>{{foods.num}}</td>
        <td>{{foods.price}}</td>
        <td>{{foods.remark}}</td>
        
      </tr>
    {% endfor %}
    {% endif %}
    
    
    {% if drinks_logs %}
    {% for drinks in drinks_logs %}
      <tr>
        <td>{{drinks.scheduleName}}</td>
        <!--<td>{{drinks.date}}</td>-->
        <td>{{drinks.drinking}}</td>
        <td>{{drinks.num}}</td>
        <td>{{drinks.price}}</td>
        <td>{{drinks.remark}}</td>
        
      </tr>
    
    {% endfor %}
    
    {% endif %}
    {% if cost_total %}
       <tr>
         <th></th>
         <!--<th></th>-->
         <th></th>
         <th>總花費</th>
         <th>
             {{cost_total}}
         </th>
    {% endif %}
         
    
     </table>
    
    
    
    
    
    {% if total_sum %}
    <h2>餘額：{{ total_sum }}</h2>
    {% endif %}
{% endblock %}