{% extends 'bandongo/frontend_base.html' %}
{% load staticfiles %}



{% block subcontent %}
   
    <div>
        <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#costlog" aria-controls="costlog" role="tab" data-toggle="tab">消費紀錄</a></li>
                <li role="presentation"><a href="#savelog" aria-controls="savelog" role="tab" data-toggle="tab">存款紀錄</a></li>
                
            </ul>
            
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="costlog">
                    <div><h3 style="color:#F74906;">消費紀錄</h3></div>
        
                    
                    {%if latest5 %}
                        <table class="table">
                            <thead>
                            <tr style="background-color:#EDEDE4;">
                                <th class = "col-sm-1"><b>日期</b></th>
                                <th class = "col-sm-3">店家</th>
                                    <th class = "col-sm-4">品項</th>
                                    <th class = "col-sm-1">數量</th>
                                    <th class = "col-sm-1">金額</th>
                                    <th class = "col-sm-2">備註</th>
                                </tr>
                            </thead>
                            <tbody>
                        {%for dic in latest5%}
                            {% for name,value in dic.items %}
                                {%for each in value%}
                                <tr>
                                    <td >{{name.date|date:'m/d'}}</td>
                                    {%if each.foodName%}
                                        <td>{{each.scheduleName.food.name}}</td>
                                        <td>{{each.foodName}}</td>
                                    {%elif each.drinking%}
                                        <td>{{each.scheduleName.drink.name}}</td>
                                        <td>{{each.drinking}}</td>
                                    {%endif%}
                                        <td>{{each.num}}</td>
                                        <td>{{each.price}}</td>
                                        <td>{{each.remark}}</td>
                                </tr>    
                                {%endfor%}
                            {%endfor%}
                        {%endfor%}
                            </tbody>
                        </table>
                    {%endif%}
                    
                    {%if listDicMonth %}
                        <table class="table">
                            <thead>
                            <tr style="background-color:#EDEDE4;">
                                <th class = "col-sm-1"><b>日期</b></th>
                                <th class = "col-sm-3">店家</th>
                                    <th class = "col-sm-4">品項</th>
                                    <th class = "col-sm-1">數量</th>
                                    <th class = "col-sm-1">金額</th>
                                    <th class = "col-sm-2">備註</th>
                                </tr>
                            </thead>
                            <tbody>
                        {%for dic in listDicMonth%}
                            {% for name,value in dic.items %}
                                <th colspan=6>{{name}}月</th>
                                {%for each in value%}
                                <tr>
                                    <td >{{each.scheduleName.date|date:'m/d'}}</td>
                                    {%if each.foodName%}
                                        <td>{{each.scheduleName.food.name}}</td>
                                        <td>{{each.foodName}}</td>
                                    {%elif each.drinking%}
                                        <td>{{each.scheduleName.drink.name}}</td>
                                        <td>{{each.drinking}}</td>
                                    {%endif%}
                                        <td>{{each.num}}</td>
                                        <td>{{each.price}}</td>
                                        <td>{{each.remark}}</td>
                                </tr>    
                                {%endfor%}
                            {%endfor%}
                        {%endfor%}
                            </tbody>
                        </table>
                    {%endif%}
                    
                    
                    
                    
                        <table class="table">
                            <thead>
                            <tr style="background-color:#EDEDE4;">
                                <th class = "col-sm-1"><b>日期</b></th>
                                <th class = "col-sm-3">店家</th>
                                    <th class = "col-sm-4">品項</th>
                                    <th class = "col-sm-1">數量</th>
                                    <th class = "col-sm-1">金額</th>
                                    <th class = "col-sm-2">備註</th>
                                </tr>
                            </thead>
                            
                            <tbody>    
                            <tr>
                                <td colspan="4" style="font-weight:bold;">總花費</td>
                                <td style="font-weight:bold;">{{cost_total}}</td>
                            </tr>
                            </tbody>
                            
                        </table>
                   
                    {% if money_tag == 'R' %}
                        <div><h3 style="color:red;font-weight:bold;">餘額：{{total_sum}}</h3></div>
                    {% else %}
                        <div><h3 style="color:#003366;font-weight:bold;">餘額：{{total_sum}}</h3></div>
                    {% endif%}
                        
                </div>
                <div role="tabpanel" class="tab-pane" id="savelog">
                    {% if savelogs %}
                        <div><h3 style="color:#F74906;">存款紀錄</h3></div>
                        <table class="table">
                            <thead style="background-color:#EDEDE4;">
                                <tr>
                                    <th class = "col-sm-4">存款日期</th>
                                    <th class = "col-sm-5">收款人</th>
                                    <th class = "col-sm-1">金額</th>
                                    <th class = "col-sm-2">備註</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for savings in savelogs %}
                                    <tr>
                                        <td>{{savings.tranDate|date:'Y-m-d H:i' }}</td>
                                        <td>{{savings.adminName}}</td>
                                        <td>{{savings.money}}</td>
                                        <td>{{savings.comment}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tr>
                                <td colspan="2" style="font-weight:bold;">總存款</td>
                                <td style="font-weight:bold;">{{save_total}}</td>
                            </tr>
                        </table>
                    {% else %}
                        <h2>沒有儲值紀錄</h2>
                    {% endif %}
                </div>
            </div>
    </div>
    
    

       
    
{% endblock %}

{% block script2 %}

{% endblock %}