{% extends 'bandongo/frontend_base.html' %}
{% load staticfiles %}




{% block subcontent %}
        
        <div><h3 style="color:#F74906;">使用須知</h3></div>
        
        <div class="row" style="margin-left: 10px; margin-right: 10px;">
                {{terms.0.content|safe}}
        </div>
        <br>
        <div><h3 style="color:#F74906;">關於作者</h3></div>
        <div id="container">
                <div class="row" style="margin-left: 10px; margin-right: 10px;">
                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                <img src={% static 'pic/liao.png' %} class="img-responsive" style="margin-bottom: 10px; display:block; margin:auto; -moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1);">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <h3>後端工程師</h3>
                                <h4>廖偉宏，公館大學資管所畢</h4>
                                <br>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                <img src={% static 'pic/hsiao.png' %} class="img-responsive" style="margin-bottom: 10px; display:block; margin:auto;">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <h3>前端工程師</h3>
                                <h4>蕭博修，貓空大學資管所畢</h4>
                                <br>
                        </div>
                </div>
                <br><br>
                <div class="row" style="margin-left: 10px; margin-right: 10px;">
                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                <img src={% static 'pic/shen.png' %} class="img-responsive" style="margin-bottom: 10px; display:block; margin:auto; -moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1);">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <h3>人工智慧工程師</h3>
                                <h4>沈昇勳，翔豪的112學弟</h4>
                                <br>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                <img src={% static 'pic/wen.png' %} class="img-responsive" style="margin-bottom: 10px; display:block; margin:auto; -moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1);">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <h3>程序測試員</h3>
                                <h4>許文典，翔豪的112學弟</h4>
                                <br>
                        </div>
                </div>
        </div>
        
{% endblock %}

