{% extends 'bandongo/frontend_base.html' %}
{% load staticfiles %}

{% block script %}
<script>
function getConfirmationFoods()
{
    var id = document.getElementById("foods_id").value;
    
    bootbox.confirm({
    title: "Bandongo, 取消訂單",
    message: " 確定要取消訂單嗎?",
    buttons: {
        cancel: {
            label: '<i class="fa fa-times"></i> 取消',
            
        },
        confirm: {
            label: '<i class="fa fa-check"></i> 確認',
            
        }
    },
    callback: function (result) {
        if(result == true)
        {
            $.post(
                "/frontend/delete_food",
                {id:id},
                function(response) {
                   bootbox.alert(response)
                   if(response == "刪除成功"){
                    $("#order"+String(id)).remove();
                    }
                }
            );
        }
        else
        {
            console.log("False");
        }
        console.log('This was logged in the callback: ' + result);
    }
    
    });
    
}
function getConfirmationDrinks()
{
    var id = document.getElementById("drinks_id").value;
    
    bootbox.confirm({
    title: "Bandongo, 取消訂單",
    message: " 確定要取消訂單嗎?",
    buttons: {
        cancel: {
            label: '<i class="fa fa-times"></i> 取消',
            
        },
        confirm: {
            label: '<i class="fa fa-check"></i> 確認',
            
        }
    },
    callback: function (result) {
        if(result == true)
        {
            $.post(
                "/frontend/delete_drink",
                {id:id},
                function(response) {
                    bootbox.alert(response);
                    if(response == "刪除成功"){
                    $("#order"+String(id)).remove();
                    }
                }
            );
        }
        else
        {
            console.log("False");
        }
        console.log('This was logged in the callback: ' + result);
    }
    });
    
}
</script>

{% endblock %}


{% block subcontent %}
    
    
    <h1>今日訂單</h1>
    <table style="width:100%">
        <tr>
        <th></th>
        <!--<th>日期</th>-->
        <th>品項</th>
        <th>數量</th>
        <th>金額</th>
        <th>備註</th>
        <th>取消</th>
        
      </tr>
    {% if today_foods %}
     
      
     <input type="hidden" id="foods_len" value="{{ today_foods|length }}"/>
    
    {% for foods in today_foods %}
       <tr id="order{{foods.id}}">
        <td>{{foods.scheduleName}}</td>
        <!--<td>{{foods.date}}</td>-->
        <td>{{foods.foodName}}</td>
        <td>{{foods.num}}</td>
        <td>{{foods.price}}</td>
        <td>{{foods.remark}}</td>
        <input type="hidden" id="foods_id" value="{{foods.id}}"/>
        <!--<input type="hidden" id="duedate" value="{{order_duedate|date:'Y-m-d H:i' }}"/>-->
        <td><input type="image" onclick="getConfirmationFoods()" src="{% static 'icon/x_icon.png' %}" alt="Submit" width="12" height="12"></td>
        <td><i class="fa fa-camera-retro fa-lg"></i></td>
      </tr>
    {% endfor %}
    {% endif %}   
    {% if today_drinks %}
    {% for drinks in today_drinks %}
      <tr id="order{{drinks.id}}">
        <td>{{drinks.scheduleName}}</td>
        <!--<td>{{drinks.date}}</td>-->
        <td>{{drinks.drinking}}</td>
        <td>{{drinks.num}}</td>
        <td>{{drinks.price}}</td>
        <td>{{drinks.remark}}</td>
        <input type="hidden" id="drinks_id" value="{{drinks.id}}"/>
         
        <td><input type="image" onclick="getConfirmationDrinks()" src="{% static 'icon/x_icon.png' %}" alt="Submit" width="12" height="12"></td>
      </tr>
    
    {% endfor %}
    {% endif %}
    
    
    {% if cost_total %}
       <tr>
         <th></th>
         <!--<th></th>-->
         <th></th>
         <th>小計</th>
         <th>
             {{cost_total}}
         </th>
    
    {% endif %}
    
    
    </table>
    
{% endblock %}