{% extends 'bandongo/frontend_base.html' %}
{% load staticfiles %}

{% block script %}
<script>
function getConfirmationFoods()
{
    var id = document.getElementById("foods_id").value;
    
    bootbox.confirm({
    title: "Bandongo, 取消訂單",
    message: " 確定要取消訂單嗎?",
    buttons: {
        cancel: {
            label: '<i class="fa fa-times"></i> 取消',
            
        },
        confirm: {
            label: '<i class="fa fa-check"></i> 確認',
            
        }
    },
    callback: function (result) {
        if(result == true)
        {
            $.post(
                "/frontend/delete_food",
                {id:id},
                function(response) {
                   bootbox.alert(response)
                   if(response == "刪除成功"){
                    $("#order"+String(id)).remove();
                    }
                }
            );
        }
        else
        {
            console.log("False");
        }
        console.log('This was logged in the callback: ' + result);
    }
    
    });
    
}
function getConfirmationDrinks()
{
    var id = document.getElementById("drinks_id").value;
    
    bootbox.confirm({
    title: "Bandongo, 取消訂單",
    message: " 確定要取消訂單嗎?",
    buttons: {
        cancel: {
            label: '<i class="fa fa-times"></i> 取消',
            
        },
        confirm: {
            label: '<i class="fa fa-check"></i> 確認',
            
        }
    },
    callback: function (result) {
        if(result == true)
        {
            $.post(
                "/frontend/delete_drink",
                {id:id},
                function(response) {
                    bootbox.alert(response);
                    if(response == "刪除成功"){
                    $("#order"+String(id)).remove();
                    }
                }
            );
        }
        else
        {
            console.log("False");
        }
        console.log('This was logged in the callback: ' + result);
    }
    });
    
}
</script>

{% endblock %}


{% block subcontent %}
    
    
    <div><h3 style="color:#F74906;">本次訂單</h3></div>
    
    {% if today_foods %}
    <div>
     <table class ="table">
        <thead>
            
            <tr style="background-color:#EDEDE4;">
            <input type="hidden" id="foods_len" value="{{ today_foods|length }}"/>
            <th class = "col-sm-5">餐點品項</th>
            <th class = "col-sm-2">數量</th>
            <th class = "col-sm-2">金額</th>
            <th class = "col-sm-2">備註</th>
            <th class = "col-sm-1">取消</th>
            
            </tr>
        </thead>
        <tbody>
          
        
        
        {% for foods in today_foods %}
           <tr id="order{{foods.id}}">
            <input type="hidden" id="foods_id" value="{{foods.id}}"/>
            <td>{{foods.foodName}}</td>
            <td>{{foods.num}}</td>
            <td>{{foods.price}}</td>
            <td>{{foods.remark}}</td>
            
            <td><input type="image" onclick="getConfirmationFoods()" src="{% static 'icon/x_icon.png' %}" alt="Submit" width="12" height="12"></td>
            <!--<td><i class="fa fa-camera-retro fa-lg"></i></td>-->
          </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    {% endif %}   
    {% if today_drinks %}
    <div></div>
        <table class ="table">
        <thead>
            
            <tr style="background-color:#EDEDE4;">
            <th class = "col-sm-5">飲料品項</th>
            <th class = "col-sm-2">數量</th>
            <th class = "col-sm-2">金額</th>
            <th class = "col-sm-2">備註</th>
            <th class = "col-sm-1">取消</th>
            
            </tr>
        </thead>
        <tbody>
        {% for drinks in today_drinks %}
          <tr id="order{{drinks.id}}">
            <td>{{drinks.drinking}}</td>
            <td>{{drinks.num}}</td>
            <td>{{drinks.price}}</td>
            <td>{{drinks.remark}}</td>
            <input type="hidden" id="drinks_id" value="{{drinks.id}}"/>
             
            <td><input type="image" onclick="getConfirmationDrinks()" src="{% static 'icon/x_icon.png' %}" alt="Submit" width="12" height="12"></td>
          </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
    
    
    <!--{% if cost_total %}-->
    <!--   <table class="table">-->
    <!--        <tr>-->
    <!--            <td colspan="5">小計</td>-->
    <!--            <td>{{cost_total}}</td>-->
    <!--        </tr>-->
    <!--    </table>-->
         
    
    <!--{% endif %}-->
    
    
    
{% endblock %}