{% extends 'bandongo/frontend_base.html' %}
{% load staticfiles %}




{% block subcontent %}
    {% if empty == False%}
        <h1>訂餐統計</h1>
        <table style="width:100%">
            <tr>
            <th></th>
            <!--<th>日期</th>-->
            <th>品項</th>
            <th>數量</th>
            <th>金額</th>
            <th>備註</th>
            <th>取消</th>
            
          </tr>
       
        {% for i in s_len %}
            
            {% for key,value in foods.items %}
                {% for i in key.items %}
            <tr>
                <td>test</td>
                <!--<td>{{foods.scheduleName}}</td>-->
                <!--<td>{{foods.date}}</td>-->
                <!--<td>{{foods.foodName}}</td>-->
                <!--<td>{{foods.num}}</td>-->
                <!--<td>{{foods.price}}</td>-->
                <!--<td>{{foods.remark}}</td>-->
            </tr>
                {%endfor%}
            {% endfor %}
        
        {% endfor %}
           
        
        
        
        </table>
    {%endif%}
{% endblock %}