{% extends 'bandongo/frontend_base.html' %}

{% block subcontent %}
   
    {% if savelogs %}
        <div><h3 style="color:#F74906;">存款紀錄</h3></div>
        <table class="table">
            <thead style="background-color:#EDEDE4;">
                <tr>
                    <th class = "col-sm-4">存款日期</th>
                    <th class = "col-sm-5">收款人</th>
                    <th class = "col-sm-1">金額</th>
                    <th class = "col-sm-2">備註</th>
                </tr>
            </thead>
            <tbody>
                {% for savings in savelogs %}
                    <tr>
                        <td>{{savings.tranDate|date:'Y-m-d H:i' }}</td>
                        <td>{{savings.adminName}}</td>
                        <td>{{savings.money}}</td>
                        <td>{{savings.comment}}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tr>
                <td colspan="2" style="font-weight:bold;">總存款</td>
                <td style="font-weight:bold;">{{save_total}}</td>
            </tr>
        </table>
    {% else %}
        <h2>沒有儲值紀錄</h2>
    {% endif %}

       
    <div><h3 style="color:#F74906;">消費紀錄</h3></div>
        
            {% if foods_logs %}
            <table class="table">
                <thead>
                <tr style="background-color:#EDEDE4;">
                    <th class = "col-sm-4"><b>餐點</b></th>
                        <th class = "col-sm-4">品項</th>
                        <th class = "col-sm-1">數量</th>
                        <th class = "col-sm-1">金額</th>
                        <th class = "col-sm-2">備註</th>
                    </tr>
                </thead>
                <tbody>
                    
                {% for foods in foods_logs %}
                    <tr>
                    <td>{{foods.scheduleName}}</td>
                    <td>{{foods.foodName}}</td>
                    <td>{{foods.num}}</td>
                    <td>{{foods.price}}</td>
                    <td>{{foods.remark}}</td>
                    </tr>
                {% endfor %}
                </tbody>
                
            
            {% endif %}
            {% if drinks_logs %}
            <table class="table">
            <thead>
                <tr style="background-color:#EDEDE4;">
                    <th class = "col-sm-4"><b>飲料</b></th>
                    <th class = "col-sm-4">品項</th>
                    <th class = "col-sm-1">數量</th>
                    <th class = "col-sm-1">金額</th>
                    <th class = "col-sm-2">備註</th>
                </tr>
            </thead>
            <tbody>
                
                {% for drinks in drinks_logs %}
                    <tr>
                        <td class="col-md-4">{{drinks.scheduleName}}</td>
                        <td class="col-md-3">{{drinks.drinking}}</td>
                        <td class="col-md-1">{{drinks.num}}</td>
                        <td class="col-md-1">{{drinks.price}}</td>
                        <td class="col-md-2">{{drinks.remark}}</td>
                    </tr>
                {% endfor %}
                 </tbody>
                 
            
            {% endif %}
                <tr>
                    <td colspan="3" style="font-weight:bold;">總花費</td>
                    <td style="font-weight:bold;">{{cost_total}}</td>
                </tr>
                
            </table>
           
    {% if money_tag == 'R' %}
        <div><h3 style="color:red;font-weight:bold;">餘額：{{total_sum}}</h2></div>
    {% else %}
        <div><h3 style="color:#003366;font-weight:bold;">餘額：{{total_sum}}</h2></div>
    {% endif%}
{% endblock %}