<!-- mark_select.html -->

{% extends 'bandongo/frontend_base.html' %}


{% block script %}
        <script type="text/javascript">
            // var js_mark_list = "{{ mark_list }}";
            // console.log(js_mark_list);
            // alert(typeof(js_mark_list));
        </script>
        <script>
    $(document).ready(
        function () {
            var url = "/mark/json_models";
            var mark_list;
            var member_list;
            $.getJSON(url, function(res) {
                mark_list=res.mark_list;
                member_list=res.member_list;
                
            });
            $("select#mark").change(function() {
                if ($(this).val() == 'Z') {
                     $("select#member_name").html("<option>選擇姓名</option>");
                     $("select#member_name").attr('disabled', true);
                }
                else {
                    var brand = $(this).val();
                    
                    var options = '<option value="Z">選擇姓名</option>';
                    for (var i = 0; i < member_list[brand].length; i++) {
                        options += '<option value="' + member_list[brand][i].id + '">'  + member_list[brand][i].name + '</option>';
                    }
                    $("select#member_name").html(options);
                    $("select#member_name option:first").attr('selected', 'selected');
                    $("select#member_name").attr('disabled', false);
                }
            });
    
    
            $("select#member_name").change(function(vent) {
                if ($(this).val() == -1) {
                    return;
                }
                
                var e = document.getElementById("member_name");
                // var pkk = e.options[e.selectedIndex].value; //pk number
                // var strUser = e.options[e.selectedIndex].text; //member name
                
               
                // alert(strUser);
            });
            });
        </script>    
{% endblock %}
        
        
{% block content%}
      
 
 
 <div class="container">
  
  <form class="form-horizontal" action="" method="POST" accept-charset="utf-8">{% csrf_token %}
    <div class="form-group">
      <label class="control-label col-sm-2" for="mark">科室:</label>
      <div class="col-sm-10">
        <select name="mark" id="mark">
            <option value="Z">選擇科室</option>
            {% for mark in mark_list %}
                <option value="{{ mark.index }}">{{ mark.name }}</option>
            {% endfor %}
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="member_name">姓名:</label>
      <div class="col-sm-10">          
        <select name="member_name" id="member_name" disabled="true">
        <option>選擇姓名</option>
        </select>
      </div>
    </div>
    
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>
</div>
{%endblock%}


