{% extends 'bandongo/base.html' %}

{% block content %}
    <h1>{{ de_member.name }}</h1>
    <p>{{ de_member.member_email }}</p>
    <div class="content">
        {% if de_member.member_phone %}
            {{ de_member.member_phone }}
        {% endif %}
    </div>
    <h1>今天吃:{{list_food.0.shop_name}}</h1>
    {% for foods in list_food %}
        <p>品名: {{ foods.name }}</p>
        <p>價格: {{ foods.price }}</p>
    {% endfor %}
    <h1>今天喝:{{pic_beverage.0.name}}</h1>
    <p>{{pic_beverage.0.pic}}</p>
    
    {% for savings in savelogs %}
    
    {% endfor %}
    <p>總存款:{{save_total}}</p>
    {% for orders in orderlogs %}
    
    {% endfor %}
    <p>總花費:{{cost_total}}</p>
    
    
    <p>餘額:{{ total_sum }}</p>
{% endblock %}

<!--
datatime

select * from catalog where shop_no IN
(
 Select shop_no from schedule where datatime=today
)


today's shop
today's shop's catalog

personal data
 ===save===
 select SUM(saving) from savelog where member_no = thismember_no
 group by member_no
 
 ===spend===
 select SUM(price) from orderlog where member_no = thismember_no
 group by member_no
 
-->